*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header */

.page-header {
  display: flex;
}

.nav-one {
  height: 48px;
  background-color: #131313;
}

.yellow-spacer div {
  height: 60px;
  background-color: #ffdd33;
}

/* Cover section */

.cover {
  height: 400px;
  background: rgba(0, 0, 0, 0.1);
}

/* Footer */

.footer-links {
  height: 160.5px;
  background-color: #131313;
}

.copyright {
  height: 123.5px;
  background-color: black;
}